body{
    text-align: right;
    background-image: url("slash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
form{
    font-size: 110%;
    color: white;
    margin-right: 15%;
    background-color: transparent;
    border-radius: 10%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: -15px;

}

h1{
    font-size: 220%;
    color: darkorange;
    margin-right: 15%;
}

button {
    background-color: darkorange;
    border-radius: 10%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 3%;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 2px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
